@media only screen and (max-width:400px){
    .App-Footer
    {
        position: sticky;
        left: 0;
        right:0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color:#efefef;
        color:black;
        text-align: center;
        padding: 1px ;
    }
}

@media only screen and (min-width: 400px) and (max-width:700px){
    .App-Footer
    {
        position: sticky;
        left: 0;
        right:0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color:#efefef;
        color:black;
        text-align: center;
        padding: 0px;
        box-sizing: border-box;
    }
}



@media only screen and (min-width: 700px) and (max-width:1400px){
    .App-Footer
    {
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
        height: 40px;
        width: 100%;
        background-color:#efefef;
        color:black;
        text-align: center;
        padding: 0px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1400px){
    .App-Footer
    {
        position: sticky;
        height: 40px;
        width: 100%;
        background-color:#efefef;
        color:black;
        text-align: center;
        padding: 0px 110px 0px 0px;
    }
}
