@media only screen and (max-width:400px){
    .LoginPage{
        background-image: url("img2.jpg");
        background-size: 375px 375px ;  
        background-repeat: no-repeat;
        background-position: center center;
        height: 325px;
    }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
    .LoginPage{  
    background-image: url("img2.jpg");
    background-size:  640px 320px; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 225px;
    padding : 0px 0px;
    }
    
}

@media only screen and (min-width:700px) and (max-width:1200px){
    .LoginPage{  
    background-image: url("img2.jpg");
    background-size:  cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 350px;
    }
    
}


@media only screen and (min-width:1200px) and (max-width:1400px){
    .LoginPage{  
    background-image: url("img2.jpg");
    background-size: 1365px 540px; 
    background-repeat: no-repeat;
    background-position: center center;
    padding: 110px 70px 70px 60px;
    height: 522px;
    }
    
}

@media only screen and (min-width:1400px){
    .LoginPage{
        background-image: url("img2.jpg");
        background-size: 1438px 450px;  
        background-repeat: no-repeat;
        background-position: center center;
        padding: 20px 140px 70px 70px;
        height: 350px;
    }
    
}
