@media only screen and (max-width:400px){
    .TeacherHome{
        height:325px;
        width: 370px;
        background-image: url("teacherHome2.jpg");
        background-size:375px 375px; 
        background-repeat: no-repeat;
        background-position: center center;
        overflow: scroll;
      }
      .right {
        position: sticky;
        width: 290px;
        height: 40px;
        color:greenyellow;
      }
      .center {
        padding: 5px;
        text-align: center;
        margin-top: 10px;
      }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
  .TeacherHome{
      height:290px;
      width: 100%;
      background-image: url("teacherHome2.jpg");
      background-size:  700px 300px; 
      background-repeat: no-repeat;
      background-position: center center
    }
    .right {
      position: absolute;
      right: 150px;
      width: 300px;
      padding: 10px;
      color:greenyellow;
    }
    .center {
      padding: 50px 0;
      text-align: center;
      margin-top: 10px;
    }
  
}

@media only screen and (min-width:700px) and (max-width:1000px){
    .TeacherHome{
        height:350px;
        width: 100%;
        background-image: url("teacherHome2.jpg");
        background-size:  800px 600px; 
        background-repeat: no-repeat;
        background-position: center center
      }
      .right {
        position: absolute;
        right: 200px;
        width: 300px;
        padding: 10px;
        color:chartreuse;
      }
      .center {
        padding: 50px 0;
        text-align: center;
        margin-top: 10px;
      }
    
}



@media only screen and (min-width:1000px) and (max-width:1200px){
  .TeacherHome{
      height:350px;
      width: 100%;
      background-image: url("teacherHome2.jpg");
      background-size:  1050px 600px; 
      background-repeat: no-repeat;
      background-position: center center
    }
    .right {
      position: absolute;
      right: 200px;
      width: 300px;
      padding: 10px;
      color:chartreuse;
    }
    .center {
      padding: 50px 0;
      text-align: center;
      margin-top: 10px;
    }
  
}



@media only screen and (min-width:1200px) and (max-width:1400px){
  .TeacherHome{
      height:460px;
      width: 100%;
      background-image: url("teacherHome2.jpg");
      background-size: 1365px 540px; 
      background-repeat: no-repeat;
      background-position: center center
    }
    .right {
      position: absolute;
      right: 50px;
      width: 300px;
      padding: 10px;
      color: black;
    }
    .center {
      padding: 50px 0;
      text-align: center;
      margin-top: 10px;
    }
  
}

@media only screen and (min-width:1400px){
    .TeacherHome{
        height:340px;
        width: 100%;
        background-image: url("teacherHome2.jpg");
        background-size:  1440px 700px; 
        background-repeat: no-repeat;
        background-position: center center
      } 
      .right {
        position: absolute;
        right: 250px;
        width: 300px;
        padding: 25px;
        color:gold;
      }
      .center {
        padding: 50px 0;
        text-align: center;
        margin-top: 10px;
      }
}

