@media only screen and (max-width:400px){
    .TeacherHome{
        height:365px;
        width: 370px;
        background-image: url("img1.jpg");
        background-size:375px 375px; 
        background-repeat: no-repeat;
        background-position: center center;
        overflow: scroll;
      }
      .right {
        position: sticky;
        right: 200px;
        width: 300px;
        padding: 10px;
      }
      .center {
        padding: 5px;
        text-align: center;
        margin-top: 10px;
      }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
  .TeacherHome{
      height:290px;
      width: 100%;
      background-image: url("img1.jpg");
      background-size:  auto; 
      background-repeat: no-repeat;
      background-position: center center
    }
    .right {
      position: absolute;
      right: 200px;
      width: 300px;
      padding: 10px;
    }
    .center {
      padding: 50px 0;
      text-align: center;
      margin-top: 10px;
    }
  
}

@media only screen and (min-width:700px) and (max-width:1200px){
    .TeacherHome{
        height:385px;
        width: 100%;
        background-image: url("img1.jpg");
        background-size:  auto; 
        background-repeat: no-repeat;
        background-position: center center
      }
      .right {
        position: absolute;
        right: 200px;
        width: 300px;
        padding: 10px;
      }
      .center {
        padding: 50px 0;
        text-align: center;
        margin-top: 10px;
      }
    
}

@media only screen and (min-width:1200px) and (max-width:1400px){
  .TeacherHome{
      height:500px;
      width: 100%;
      background-image: url("img1.jpg");
      background-size: 1365px 540px; 
      background-repeat: no-repeat;
      background-position: center center
    }
    .right {
      position: absolute;
      right: 200px;
      width: 300px;
      padding: 10px;
    }
    .center {
      padding: 50px 0;
      text-align: center;
      margin-top: 10px;
    }
  
}

@media only screen and (min-width:1400px){
    .TeacherHome{
        height:380px;
        width: 100%;
        background-image: url("img1.jpg");
        background-size:  auto; 
        background-repeat: no-repeat;
        background-position: center center
      } 
      .right {
        position: absolute;
        right: 200px;
        width: 300px;
        padding: 10px;
      }
      .center {
        padding: 50px 0;
        text-align: center;
        margin-top: 10px;
      }
}

