* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.App {
  text-align: center;
  background-color: aqua;
  padding-top:10px;
  size: 20px;
}



.App-title {
  font-size: 1.5em;
}



.input[type=text], select, textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: vertical;
}

.label {
  padding: 8px;
  display: inline;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.right {
  position: absolute;
  right: 200px;
  width: 300px;
  padding: 10px;
}
.center {
  padding: 50px 0;
  text-align: center;
  margin-top: 10px;
}

.List-O{
  height:490px ;
  width: 100%;
  overflow-y: scroll;
}

.Add-Student {
  float: left;
  width: 100%;
  margin-top: 6px;
  margin-left: 0px;
}

.SignUpPage{
  height:540px;
  width: 100%;
  overflow-y: scroll;
}

.Edit-Student{
  height:500px;
  width: 100%;
  overflow-y: scroll;
  overflow-x:scroll;
}