* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.App {
  text-align: center;
  background-color: aqua;
  padding-top:10px;
  size: 20px;
}



.App-title {
  font-size: 1.5em;
}



.input[type=text], select, textarea {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 2px;
  resize: vertical;
}

.label {
  padding: 8px;
  display: inline;
}

