  @media only screen and (max-width:400px){
    .Add-Student {
        overflow-y: scroll;
        float: left;
        width: 100%;
        height: 340px;
      }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
    .Add-Student {
        overflow-y: scroll;
        float: left;
        width: 100%;
        height: 340px;
      }
}


@media only screen and (min-width:700px) and (max-width:1400px){
    .Add-Student {
        background-image: url("addStudent.jpg");
        background-size: 1350px 550px;
        background-position: center;
        overflow-y: scroll;
        float: left;
        width: 100%;
        height: 480px;
      }
}

@media only screen and (min-width:1400px){
    .Add-Student {
        overflow-y: scroll;
        float: left;
        width: 100%;
        height: 350px;
      }
}

