@media only screen and (max-width: 400px) {
    .App-header {
        background-color: darkorchid;
        padding: 1px;
        color: white;
        padding: 1px 1.5px 1px 1.5px;
      }
}
@media only screen and (min-width:400px) and (max-width: 700px) {
    .App-header {
        background-color: darkorchid;
        padding: 1px;
        color: white;
      }
}

@media only screen and (min-width:700px) and (max-width: 1400px) {
    .App-header {
        background-color: darkorchid;
        padding: 1px;
        color: white;
        padding: 1px 1.5px 1px 1.5px;
      }
}

@media only screen and (min-width:1400px){
    .App-header {
        background-color: darkorchid;
        height: 70px;
        width: 100%;
        padding: 1px;
        color: white;
      }
}
