@media only screen and (max-width: 600px) {
    .App-header {
        background-color: #222;
        color: white;
        height:0px;
        width: 0%;
      }
}

@media only screen and (min-width:600px) and (max-width: 1200px) {
    .App-header {
        background-color: #222;
        height: 70px;
        width: 100%;
        padding: 5px;
        color: white;
      }
}

@media only screen and (min-width:1400px){
    .App-header {
        background-color: #222;
        height: 70px;
        width: 100%;
        padding: 5px;
        color: white;
      }
}
.App-header {
    background-color: #222;
    height: 70px;
    width: 100%;
    padding: 5px;
    color: white;
  }