  @media only screen and (max-width:400px){
    .Edit-Student{
      height:360px;
      width: 100%;
      overflow-y: scroll;
    }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
  .Edit-Student{
    height:330px;
    width: 100%;
    overflow-y: scroll;
  }
    
}

@media only screen and (min-width:700px) and (max-width:1400px){
  .Edit-Student{
    height:390px;
    width: 100%;
    overflow-y: scroll;
  }
    
}

@media only screen and (min-width:1400px){
  .Edit-Student{
    height:400px;
    width: 100%;
    overflow-y: scroll;
  }
}
