  @media only screen and (max-width:400px){
    .Edit-Student{
      height:325px;
      width: 100%;
      overflow-y: scroll;
    }
    
} 

@media only screen and (min-width:400px) and (max-width:700px){
  .Edit-Student{
    height:247px;
    width: 100%;
    overflow-y: scroll;
  }
    
}

@media only screen and (min-width:700px) and (max-width:1400px){
  .Edit-Student{
    height:500px;
    width: 100%;
    overflow-y: scroll;
  }
    
}

@media only screen and (min-width:1400px){
  .Edit-Student{
    height:350px;
    width: 100%;
    overflow-y: scroll;
  }
}
